@import "../../../scss/component";

.Posts_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Posts_post {
    background: white;
    padding: 16px;

    .Posts_post_container {
      display: flex;
      // width: 100%;
      // height: 100%;
      padding: 0;
      margin: 0;

      img {
        width: 60px;
        border-radius: 100%;
        margin-right: 16px;
        margin-bottom: 0;
      }

      .Posts_post_container_info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        h4 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100% !important;
          font-size: 20px;
        }

        span {
          min-height: 100%;
          opacity: 0.6;
        }
      }
    }

    img {
      width: 60px;
      border-radius: 100%;
      margin-bottom: 16px;
    }

    span {
    }

    .image-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      .image {
        width: 100%;
        border-radius: 0;
        padding-bottom: 16px;
      }

      .image-lights {
        padding-right: 8px;
      }

      .image-nature {
        padding-left: 8px;
      }
    }

    .image-container-angie {
      display: flex;
      .image-nature-angie {
        width: 100%;
        border-radius: 0 !important;
      }
    }
  }
}

.like,
.comment {
  border: none;
  color: white;
  padding: 8px 16px;
  margin-right: 0.25em;
  cursor: pointer;

  &:hover {
    background: #ccc;
    color: black;
  }
}

.like {
  background: color(like);
}

.comment {
  background: color(comment);
}
