@import "../../../scss/component";

.UpcomingEvents_ {
  background: white;

  div {
    display: flex;
    flex-direction: column;
    padding: 0.01em 16px;

    .title {
    }

    .holiday {
    }

    .time {
      margin-top: 0;
    }

    div {
      display: flex;
      width: 100%;
      padding: 0;
      margin-bottom: 1em;

      button {
        width: 100%;
        background: color(info);
        font: 15px font(open);
        border: none;
        padding: 8px 16px;

        &:hover {
          background: #ccc;
        }
      }
    }

    img {
      width: 100%;
    }
  }
}
