@import "../../../scss/component";

.Friend_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 0.01em 16px;

  img {
    width: 50%;
  }

  .Friend_button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .Friend_button-container {
      display: flex;
      width: 100%;

      .green,
      .red {
        width: 100%;
        color: white;
        border: none;
        opacity: 0.6;
        padding: 8px 16px;
        margin: 16px 0;

        &:hover {
          background: #ccc;
          color: black;
        }
      }

      .green {
        background: color(green);
      }

      .red {
        background: color(bg-red);
      }

      button {
        .fa-check {
        }

        .fa-remove {
          background: color(red);
        }
      }
    }
  }
}
