@import "../../scss/component";

.Footer_ {
  .Footer_title {
    background: color(footer);
    padding: 16px;

    h5 {
      color: white;
      font-size: 18px;
      font-weight: normal;
      margin: 12px auto;
    }
  }
  .Footer_link {
    background: color(powered);
    padding: 0.01em 16px;

    p {
      color: white;
      margin: 15px auto;

      a {
        color: inherit;
      }
    }
  }
}
