@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$font: (
  open: "Open Sans",
  segoe: "Segoe UI",
);

$color: (
  bg: #f5f7f8,
  nav: #4d636f,
  nav-logo: #3a4b53,
  events: #7d97a5,
  hey-bg: #dfe5e8,
  hey-x: #becbd2,
  post: #607d8b,
  like: #57707d,
  comment: #4d636f,
  info: #dfe5e8,
  green: #4caf50,
  bg-red: #f44336,
  footer: #435761,
  powered: #303e45,
);
